body {
    margin: 0;
    font-family: "Public Sans", "Noto Sans", sans-serif;
    background-color: #f8fafc;
  }
  
  .design-root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .layout-container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 40px;
    border-bottom: 1px solid #e7edf4;
    background-color: white;
  }
  
  .logo-section {
    display: flex;
    align-items: center;
    gap: 16px;
    color: #0d141c;
  }
  
  .logo-icon img{
    width: 36px;
    height: 36px;
  }
  
  .logo-section h2 {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
  }
  
  .nav-actions {
    display: flex;
    gap: 32px;
    align-items: center;
  }
  
  .nav-links {
    display: flex;
    gap: 36px;
  }
  
  .nav-links a {
    color: #0d141c;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
  }
  
  .login-button {
    background-color: #0c77f2;
    color: #ffffff;
    padding: 10px 16px;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .main-content {
    padding: 32px 160px;
    display: flex;
    justify-content: center;
    flex-grow: 1;
  }
  
  .content-container {
    width: 100%;
    max-width: 512px;
  }
  
  .form-title p {
    font-size: 32px;
    font-weight: bold;
    color: #0d141c;
    margin: 16px 0;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  
  .form-group p {
    font-size: 16px;
    font-weight: 500;
    color: #0d141c;
  }
  
  input,
  select {
    height: 56px;
    width : 70%;
    border: none;
    border-radius: 8px;
    background-color: #e7edf4;
    padding: 0 16px;
    font-size: 16px;
    color: #0d141c;
  }
  
  input::placeholder,
  select::placeholder {
    color: #49709c;
  }
  
  select {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='24px' height='24px' fill='rgb(73,112,156)' viewBox='0 0 256 256'%3e%3cpath d='M181.66,170.34a8,8,0,0,1,0,11.32l-48,48a8,8,0,0,1-11.32,0l-48-48a8,8,0,0,1,11.32-11.32L128,212.69l42.34-42.35A8,8,0,0,1,181.66,170.34Zm-96-84.68L128,43.31l42.34,42.35a8,8,0,0,0,11.32-11.32l-48-48a8,8,0,0,0-11.32,0l-48,48A8,8,0,0,0,85.66,85.66Z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 1rem center;
    background-size: 1rem;
    appearance: none;
  }
  
  .submit-button {
    display: flex;
    justify-content: flex-end;
  }
  
  .submit-button button {
    background-color: #0c77f2;
    color: #ffffff;
    padding: 10px 16px;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
  }

  .submit-button button:hover {
    background-color:#055dc2;
    color:white;
  }
  